/*CSS layout*/
body {
  margin: 0px;
  padding: 0px;
}

.content {
  width: 460px;
  height: 100%;
  margin: 0 auto;
}

#gameboard {
  width: 460px;
  height: 100%;
  margin: 0 auto;

}

.title {
  width: 440px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 90px;
  padding-bottom: 10px;
  text-align: right;
}

.square {
  width: 100px;
  height: 100px;
  float: left;
  padding: 20px;
  margin: 5px;
  font-size: 80px;
}

#sq4, #sq7 {
  clear: both;
}

#sq1 {
  border-radius: 50px 0px 0px 0px;
}

#sq3 {
  border-radius: 0px 50px 0px 0px;
}
#sq7 {
  border-radius: 0px 0px 0px 0px;
}
#sq9 {
  border-radius: 0px 0px 0px 0px;
}

footer {
  float: left;
  clear: both;
  background-color: #9ACD32;
  padding-right: 0px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
  width: 440px;
  height: 46px;

}

footer ul {
  padding: 10px;
  float: right;
}

footer li {
  display: inline;
  padding: 8px;
}

#yourturn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 440px;
  height: 20px;
}


/*CSS Style*/

.title {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 58px;
  color: #9ACD32;

}

.text {
  font-family: 'Chivo', sans-serif;
}

.square {
  font-family: 'Sniglet', cursive;
  text-align: center;
  color: #008080;
  background-color: #ADD8E6;
}

#yourturn {
  font-family: 'Chivo', sans-serif;
  font-size: 20px;
  color: navy;
  letter-spacing: 5px;
  text-align: center;

}

footer {
  font-family: 'Chivo', sans-serif;
  font-size: 14px;
  color: #000000;

}

button {
  font-family: 'Chivo', sans-serif;
  color: #FFF;
  margin-top: 200px;
  font-size: 40px;
  padding: 20px;
  width: 400px;
  height: 100px;
  text-align: center;
  background-color: #9ACD32;
  letter-spacing: 5px;
  border: 0px;
  border-radius: 20px 20px 20px 20px;
}


/*Responsive page*/

@media (max-width: 768px) {
  .content {
    width: 300px;
    height: 400px;
  }
  #gameboard {
    width: 300px;
    height: 400px;
  }
  .title {
    width: 300px;
    height: 40px;
    font-size: 56px;
  }
  #yourturn {
    width: 300px;
    font-size: 20px;
    letter-spacing: 0px;
  }
  .square {
    width: 50px;
    height: 50px;
    font-size: 40px;

  }
  footer {
    width: 290px;
    height: 40px;
    font-size: 12px;

  }
  footer ul {
    padding-right: 0px;
    padding-top: 0px;
  }
  footer li {
    padding: 10px;
  }
  button {
    width: 200px;
    height: 200px;
    font-size: 20px;
    letter-spacing: 0px;
    margin-top: 100px;
  }


}
