/*CSS layout*/
body {
  margin: 0px;
  padding: 0px;
}

#gameboard {
  width: 540px;
  height: 100%;
  margin: 0 auto;

}

.title {
  width: 440px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 90px;
  padding-bottom: 10px;
  text-align: right;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #ADD8E6;
  float:left;
  padding: 20px;
  margin: 5px;
  font-size: 80px;
}

#sq4, #sq7 {
  clear: both;
}

#sq1 {
  border-radius: 50px 0px 0px 0px;
}

#sq3 {
  border-radius: 0px 50px 0px 0px;
}
#sq7 {
  border-radius: 0px 0px 0px 0px;
}
#sq9 {
  border-radius: 0px 0px 0px 0px;
}

footer {
  float: left;
  clear: both;
  background-color: #9ACD32;
  padding-right: 0px;
  margin-top: 10px;
  margin-left: 5px;
  width: 440px;
  height: 46px;

}

footer ul {
  padding: 10px;
  float: right;
}

footer li {
  display: inline;
  padding: 8px;
}

#yourturn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  width: 540px;
  margin: 0 auto;
  height: 20px;
}


/*CSS Style*/

.title {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 58px;
  color: #9ACD32;

}

.text {
  font-family: 'Chivo', sans-serif;
}

.square {
  font-family: 'Sniglet', cursive;
  text-align: center;
  color: #008080;
}

#yourturn {
  font-family: 'Chivo', sans-serif;
  font-size: 20px;
  color: navy;
  letter-spacing: 5px;

}

footer {
  font-family: 'Chivo', sans-serif;
  font-size: 14px;
  line-height: 0px;
  color: #000000;

}
